*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing:inherit; 
}

/*changing our font-size to 10px makes our life easier
now one rem is 10 px 
*/
:root{
    font-size:62.5%;
}

/* a font included from google*/
body{
    box-sizing:border-box;
}
